{% extends 'layout.html' %}
{% block content %}
    <div class="container-fluid">
        <h1>This is to test the database thingy</h1>
        <div class="container">
        {% for data in datain %}
            <div class="row">
                <div class="col-sm-2">
                    <p>{{ data.thing }}</p>
                </div>
                <div class="col-sm">
                    <p>{{ data.thingy }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}